# Ignore all dotfiles...
.*
# except for .gitignore
!.circleci
!.gitignore
!.gitattributes
!.dockerignore
!.github

*.iml
*.ipr
*.iws
*.jar
*.pyc
*.tar.gz

**/target/
**/.metadata
**/.classpath
**/.project
**/.settings
**/tmp/
**/classes
**/out
**/build

last_config_loaded
pulseman_config/
