name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ created ]

jobs:
  linux-build:
    name: Linux build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up java
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 21
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Verify Docker
        run: |
          docker version
          docker ps
      - name: Run lint check
        run: ./gradlew ktlintCheck
      - name: Run tests
        run: ./gradlew iTest
        env:
          TESTCONTAINERS_RYUK_DISABLED: true
          DOCKER_HOST: unix:///var/run/docker.sock
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/iTest/TEST-*.xml'
      - name: Create Package deb
        run: ./gradlew packageDeb --info
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-artifacts
          path: build/compose/binaries/main/deb/

  mac-build-arm:
    name: Mac arm build
    needs: linux-build
    uses: ./.github/workflows/mac-setup.yml
    with:
      runner-type: macos-latest
      java-version: "21"
      artifact-name: mac-arm-artifacts
    secrets: inherit

  mac-build-intel:
    name: Mac intel build
    needs: linux-build
    uses: ./.github/workflows/mac-setup.yml
    with:
      runner-type: macos-13
      java-version: "21"
      artifact-name: mac-intel-artifacts
    secrets: inherit

  release:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    needs:
      - mac-build-arm
      - mac-build-intel
    steps:
      - name: Download linux artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-artifacts
          path: artifacts/linux
      - name: Download mac arm artifacts
        uses: actions/download-artifact@v4
        with:
          name: mac-arm-artifacts
          path: artifacts/mac-arm
      - name: Download mac intel artifacts
        uses: actions/download-artifact@v4
        with:
          name: mac-intel-artifacts
          path: artifacts/mac-intel
      - name: Display structure of downloaded files
        run: ls -R artifacts
      - name: Publish Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: artifacts/*
          draft: false
          prerelease: false
